In [9]:
import pandas as pd
from pathlib import Path

PROCESSED_DATA = Path("data/processed").glob("*processed*.csv").__next__()

processed = pd.read_csv(PROCESSED_DATA)
processed.head()

,txn_id,txn_date,customer_id,product_id,quantity,age,gender,super_category,category,brand
0,3,2025-12-11,CUST001,P00245,1,3,1,0,4,72
1,3,2025-12-11,CUST001,P00748,1,3,1,3,9,55
2,3,2025-12-11,CUST001,P00621,1,3,1,0,11,9
3,3,2025-12-11,CUST001,P00139,3,3,1,1,5,3
4,3,2025-12-11,CUST001,P00369,1,3,1,4,10,68